@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.orange-title {
  color: #e95a08;
  font-family: ;
}

.font-primary {
  color: rgba(0, 0, 0, 0.5);
}

.primary-btn {
  background-color: #e95a08;
  font-weight: 600;
  color: white;
  padding: 18px 30px;
}

/* Navbar Styles */

.menu-item2,
.menu-item3 {
  color: #8987a1;
}
